services:
  # default configuration for services in *this* file
    _defaults:
        autowire: true
        autoconfigure: true
    
    Oliverde8\PhpEtlSyliusAdminBundle\:
        resource: '../../'

    Oliverde8\PhpEtlSyliusAdminBundle\Controller\EtlController:
        class: 'Oliverde8\PhpEtlSyliusAdminBundle\Controller\EtlController'
        arguments:
            $etlExecutionRepository: '@Oliverde8\PhpEtlSyliusAdminBundle\Repository\Etl\EtlExecutionRepository'
            $executionContextFactory: '@Oliverde8\PhpEtlBundle\Services\ExecutionContextFactory'
            
    # Sylius menu
    Oliverde8\PhpEtlSyliusAdminBundle\Menu\AdminMenuListener:
        arguments:
            $menuFactory: '@knp_menu.factory'
        tags:
            - { name: kernel.event_listener, event: sylius.menu.admin.main, method: addAdminMenuItems }

    Oliverde8\PhpEtlSyliusAdminBundle\Grid\Filter\EtlExecutionNameFilter:
        class: 'Oliverde8\PhpEtlSyliusAdminBundle\Grid\Filter\EtlExecutionNameFilter'
        tags:
            -   name: sylius.grid_filter
                type: etl_execution_name
                form_type: 'Oliverde8\PhpEtlSyliusAdminBundle\Form\Type\Filter\EtlExecutionNameFilterType'
