{% if data == "success" %}
    <span class="ui green label">
        <i class="checkmark icon"></i>{{ "app.ui.etl_execution.statuses.success"|trans }}
    </span>
{% elseif data == "failure" %}
    <span class="ui red label">
        <i class="exclamation alternate icon"></i>{{ "app.ui.etl_execution.statuses.failure"|trans }}
    </span>
{% else %}
    <span class="ui orange label">
        <i class="stopwatch icon"></i>{{ "app.ui.etl_execution.statuses.running"|trans }}
    </span>
{% endif %}
