{% extends '@SyliusAdmin/layout.html.twig' %}

{% block title %}{{ 'sylius.ui.etl_execution.show.page_title'|trans }} {{ parent() }}{% endblock %}

{% block content %}
    <div class="ui stackable two column grid">
        <div class="column">
            <h1 class="ui header">
                <i class="circular pencil icon"></i>
                <div class="content">
                    {{ 'sylius.ui.etl_execution.show.title'|trans }}
                    <div class="sub header">{{ 'sylius.ui.etl_execution.show.title'|trans }}</div>
                </div>
            </h1>
        </div>
        <div class="middle aligned column">
        </div>
    </div>

    <div class="ui segment">
        {% include '@Oliverde8PhpEtlSyliusAdmin/etl/show/_include/details.html.twig' %}
    </div>

    <div class="ui segment">
        {% include '@Oliverde8PhpEtlSyliusAdmin/etl/show/_include/execution-inputs.html.twig' %}
    </div>

    <div class="ui segment">
        {% include '@Oliverde8PhpEtlSyliusAdmin/etl/show/_include/execution-outputs.html.twig' %}
    </div>

{% endblock %}
